<!DOCTYPE html>
<html>
<head>
<style>

p.a {
  font: 15px Arial;
  text-align: center;
}
p.thick {
  font-weight: bold;
}


</style>
</head>
<body>

<h1> Thank You! </h1>

<p class="a">Thank you for visiting our page. </p>

</body>
</html>