<main class="{{pageMainClass}}">
	<div class="abtTitle">
		<h1>{{title}}</h1>
		<p class="abtTxt">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
			<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
			<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.
		</p>
		
		
		<div class="row goalContainer">
  <div class="col-3 col-s-3 menu">
    <ul>
    <li>Why CarMatch</li>
    <li>FAQ & Support</li>
    <li>Find Retailer</li>
    <li>Articles</li>
    </ul>
  </div>

  <div class="col-6 col-s-9 goalInner container-fluid">
    <h1 class="goal">Our Goal</h1>
    <p class="goalTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </div>
		 <div class="col-3 col-s-12 right">
    <div class="aside">
      <h2>What?</h2>
      <p>is CarMatch </p>
      <h2>Where?</h2>
      <p>can you find out about us</p>
      <h2>How?</h2>
      <p>we are here to serve you </p>
    </div>
  </div>
</div>

		
		<h2 class="meetTheTeam">{{msg}}</h2>
	</div>
    <div class="abtContainer">
    <div class="row">
      <figure class="col-12 col-md-4">
        <section class="abtCard">
        <div class="abtInnerWrapper" id="">
          <div class="cardImgContainer">
            <div class="card_img">
              <i class="fas fa-user-alt" id="userIcon"></i>
            </div>
          </div>
          <div class="card_title">USER</div>
          <div class="card_body">
            <p class="infoTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </div>
        </section>
      </figure>

      <figure class="col-12 col-md-4">
        <section class="abtCard">
          <div class="abtInnerWrapper" id="">
            <div class="cardImgContainer">
              <div class="card_img">
                <i class="fas fa-user-alt" id="userIcon"></i>
              </div>
            </div>
            <div class="card_title">USER</div>
            <div class="card_body">
              <p class="infoTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </section>
      </figure>
      <figure class="col-12 col-md-4">
        <section class="abtCard">
        <div class="abtInnerWrapper" id="">
          <div class="cardImgContainer">
            <div class="card_img">
              <i class="fas fa-user-alt" id="userIcon"></i>
            </div>
          </div>
          <div class="card_title">USER</div>
          <div class="card_body">
            <p class="infoTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
          </div>
        </div>
        </section>
      </figure>
    </div>


    <div class="row CompanyTxt">
        <div class="col-12 title">
            <h2 class="TheCompany">About The Company</h2>
        </div>
        <div class="col-12 desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores modi vel blanditiis doloribus commodi impedit!. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit. Dolores modi vel blanditiis doloribus commodi impedit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
    </div>
</main>
