<main class="{{pageMainClass}}">
		<h1>{{title}}</h1>
		<p>{{msg}}</p>
    <div class="abtContainer">
    <div class="row">
        <div class="abtCard" id="abtcard">
            <div class="card_img"> <i class="fas fa-rocket"></i> </div>
            <div class="card_title">PLACEHOLDER</div>
            <div class="card_body">
                <p class="infoTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

        <div class="row">
        <div class="abtCard" id="abtcard">
            <div class="card_img"> <i class="fab fa-cloudversify"></i> </div>
            <div class="card_title">PLACEHOLDER</div>
            <div class="card_body">
                <p class="infoTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="abtCard" id="abtcard">
            <div class="card_img"> <i class="fas fa-user-astronaut"></i> </div>
            <div class="card_title">PLACEHOLDER</div>
            <div class="card_body">
               <p class="infoTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>
<div class="about">
        <div class="title">
            <h1>About The Company</h1>
        </div>
        <div class="desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores modi vel blanditiis doloribus commodi impedit!. Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores modi vel blanditiis doloribus commodi impedit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
    </div>
</main>
