<main class="{{pageMainClass}}">
	<div class="abtTitle">
		<h1>{{title}}</h1>
		<p class="abtTxt">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
			<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
			<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.
		</p>
		<div class="container" id="goal">
		<div class="row">
  <div class="col-3 menu">
    <ul>
    <li>Why CarMatch</li>
    <li>FAQ & Support</li>
    <li>Find Retailer</li>
    <li>Articles</li>
    </ul>
  </div>

  <div class="col-6">
    <h1 class="goal">Our Goal</h1>
    <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
  </div>
		 <div class="col-3 right">
    <div class="aside">
      <h2>What?</h2>
      <p>is CarMatch </p>
      <h2>Where?</h2>
      <p>can you find out about us</p>
      <h2>How?</h2>
      <p>we are here to serve you </p>
    </div>
  </div>
</div>
</div>
		<h2 class="meetTheTeam">{{msg}}</h2>
	</div>
    <div class="abtContainer">
    <div class="row">
        <div class="abtCard" id="abtcard">
        	<div class="col-3 cardImgContainer">
            <div class="card_img"> 

             </div>
         </div>
            <div class="card_title">PLACEHOLDER</div>
            <div class="card_body">
                <p class="infoTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
    
        <div class="row">
        <div class="abtCard" id="abtcard">
           <div class="cardImgContainer">
            <div class="card_img"> 

             </div>
         </div>
            <div class="card_title">PLACEHOLDER</div>
            <div class="card_body">
                <p class="infoTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="abtCard" id="abtcard">
            <div class="cardImgContainer">
            <div class="card_img"> 

             </div>
         </div>
            <div class="card_title">PLACEHOLDER</div>
            <div class="card_body">
               <p class="infoTxt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>
<div class="aboutTxt">
        <div class="title">
            <h1 class="TheCompany">About The Company</h1>
        </div>
        <div class="desc">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores modi vel blanditiis doloribus commodi impedit!. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit. Dolores modi vel blanditiis doloribus commodi impedit!. Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
        </div>
    </div>
</main>
