<main class="{{pageMainClass}}">
		<h1>{{title}}</h1>
		<p>{{msg}}</p>
		<div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card used">
        <div class="txt">
          <h1>USED CARS</h1>
          <p>2010 Honda Accord, 2000 Toyota Camry , 2003 Chevrolet Malibu, 2010 Ford Fusion, 2012 Hyundai Sonata</p>
        </div>
        <a href="#">view list</a>
        <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
  <div class="col-md-6 col-lg-4 column">
      <div class="card luxury">
        <div class="txt">
          <h1>LUXURY</h1>
          <p>2021 ES Lexus, 2021 Ford Mustang, 2018 A8 Audi, 2020 Cadillac CT4, 2021 Genesis G70</p>
        </div>
        <a href="#">VIEW LIST</a>
        <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
<div class="col-md-6 col-lg-4 column">
      <div class="card allTerrain">
        <div class="txt">
          <h1>All terrain </h1>
          <p>2020 Ford F250, 2020 RAM 1500, 2021 Toyota Tundra, 2020 GMC Sierra 1500, 2020 Nissan Titan</p>
        </div>
        <a href="#">view list</a>
        <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card suv">
        <div class="txt">
          <h1>suv's</h1>
          <p>2021 Chevy Tahoe, 2021 Cadillac Escalade, 2021 Toyota Highlander, 2020 GMC Yukon, 2021 Mazda CX9</p>
        </div>
        <a href="#">view list</a>
      <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card hybrids">
        <div class="txt">
          <h1>hybrids</h1>
          <p>2020 Kia Niro, 2021 BMW 330E 2020 2021 Hyundai Sonata, 2021 Toyota Prius, 2019 Tesla Model 3</p>
        </div>
        <a href="#">view list</a>
      <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>
  </div>
</div>
</main>