<main class="{{pageMainClass}}">
    <h1>{{title}}</h1>

<article class="row">

        <section class="col-12 col-md-6">
            <div class="wrapper">
            <h2>Send Us A Message</h2>
            <!--<div id="error_message" class="error_message"></div>-->
            <form id="formContact" class="formContact" action="/formModel" method="POST">

                <div class="input_field">
                    <input type="text" placeholder="Name" id="Name" name="Name">
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Subject" id="subject" name="subject">
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Phone" id="phone" name="phone">
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Email" id="email" name="email">
                </div>
                <div class="input_field">
                    <textarea id="msg" placeholder="Message" name="msg" ></textarea>
                 </div>
                <div class="contactUs">
                <input type="submit" value ="Submit" class="btnClass"></input>
                </div>

               <!--
                <div class="btn contactSubmit">
                    <input type="Submit">
                </div>-->
            </form>
        </section>

        <section class="col-auto col-md-6">
            <div class="Contactcard">
            <div class="figWrapper">
                <figure>
                    <div  class="icons">
                        <i class="far fa-address-card"></i>
                        </div>
                     <figcaption class="caption">1-(111)-111-1111</figcaption>
                    
                    <br>
                    <div  class="icons">
                        <i class="far fa-map"></i>
                    </div>
                    <figcaption class="caption">CarMatch@gmail.com</figcaption>
                    
                    <br>
                    <div class="icons">
                        <i class="far fa-address-book"></i>
                    </div>
                        <figcaption class="caption">572 Vine Dr. San Diego, CA 92111</figcaption>
                </figure>
            </div>
        </div>

        </section>
    </article>
</main>

