<main class="{{pageMainClass}}">
    <h1>{{title}}</h1>
<article class="row">

        <section class="col-12 col-md-6">
            <div class="wrapper contact" style="    background-color: #17B5F1;">
            <h2>Send Us A Message</h2>
            <!--<div id="error_message" class="error_message"></div>-->
            <form id="formContact" class="formContact" action="/thankyou" method="POST">

                <div class="input_field">
                    <input type="text" placeholder="Name" id="Name" name="Name">
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Subject" id="subject" name="subject">
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Phone" id="phone" name="phone">
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Email" id="email" name="email">
                </div>
                <div class="input_field">
                    <textarea id="msg" placeholder="Message" name="msg" ></textarea>
                 </div>
                <div class="contactUs">
                <input type="submit" value ="Submit" style="    background-color: #FC8C78;" class="btnSubmit1"/>
                </div>

               <!--
                <div class="btn contactSubmit">
                    <input type="Submit">
                </div>-->
            </form>
        </div>
        </section>

        <section class="col-12 col-md-6">
            <div class="contactCard">
            <div class="figWrapper">
                <figure>
                     <figcaption class="caption"><i class="far fa-address-card"></i>1-(111)-111-1111</figcaption>
                    
                    <br>
                    <figcaption class="caption"><i class="far fa-map"></i>CarMatch@gmail.com</figcaption>
                    
                    <br>
                        <figcaption class="caption"><i class="far fa-address-book"></i>572 Vine Dr. San Diego, CA 92111</figcaption>
                </figure>
            </div>
        </div>

        </section>
    </article>
</main>

