<main class="{{pageMainClass}}">
	<h1>{{title}}</h1>

     <form action='/formModel' method='POST'>
        <!--
        <select name="subject">
            {{#each formSubject}}
                <option value="{{this.id}}">{{this.title}}</option>
            {{/each}}
        </select>
        <p> Our goal is to help with all your needs and questions in regards of what you are looking for. We will do our best to get you the car that best suits you and is convinient for you feel free to contact us at anytime. Down below are ways to contact us or take a swing by and we will have someone that will be more then happy to help you. </p>
            <br>
            <h2>Email</h2>
            <p>Please fell free to send us a email at 650ortega@gmail.com and we will have someone get to you as quickly as possible with any questions or concers. </p>
            <br>
            <h3>Phone Number</h3>
            <p>You can also give us a call at 1-888-888-8888 and we will have a live agent speak to you. <p>
            <br>
            <h4>Store Address</h4>
        <p>You can also come by the store and we will make sure to help you with all your needs and we will be more then happy to help you find the car that best suits you at. </p>

    </form>
</main>