<main class="{{pageMainClass}}">
    <h1>{{title}}</h1>

<article class="row">
        <section class="col-12 col-md-6">

            <div class="figWrapper">
                <figure>
                    <figcaption>Phone Number</figcaption>
                    <figcaption>1-(111)-111-1111</figcaption>
                    <br>
                    <figcaption>Email</figcaption>
                    <figcaption>CarMatch@gmail.com</figcaption>
                    <br>
                    <figcaption>Address</figcaption>
                    <figcaption>572 Vine Dr. San Diego, CA 92111</figcaption>
                </figure>

            </div>
        </section>
        <section class="col-12 col-md-6">
            <div class="wrapper">
            <h2>Send Us A Message</h2>
            <!--<div id="error_message"></div>-->
            <form id="formContact" class="formContact" action="#" method="#">
                <div class=input_field>
                    <input type="text" placeholder="Name" id="name">
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Subject" id="Subject">
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Phone" id="Phone">
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Email" id="Email">
                </div>
                <div class="input_field">
                    <textarea id="Message" placeholder="Message" ></textarea>
                </div>
                <div class="btn">
                    <input type="Submit">
                </div>
            </form>
        </section>
    </article>
</main>

