<main class="{{pageMainClass}}">
		<h1>{{title}}</h1>
		<p>Welcome to {{msg}}</p>
	<h3>{{group}} is having a great day so far</h3>
		<h3> Find your next match! <h3>
		<h2> About Us </h2>
		<p>CarMatch is a family company that loves to help people find the car of their dreams. We can help you find a car that fits you best in an easy and fast way.</p>
</main>