<main class="{{pageMainClass}}">
	<!-- <div style="background-image: url ('http://imageonthefly.autodatadirect.com/images/?height=220&img=USD00BMC012A021001.png&AUTOTRIM=2);">
	</div> -->
	<!-- <img src="http://imageonthefly.autodatadirect.com/images/?height=220&img=USD00BMC012A021001.png&AUTOTRIM=2" alt="stock car 1" width="auto" height="auto"> -->
	<!-- <h1>{{title}}</h1>
		<p>Welcome to {{msg}}</p>
	 <h3>{{group}} is having a great day so far</h3> -->
	<div class="dropdown">
	 	<button class="dropbtn">Brand</button>
	 	<div class="brand-content">
	 	<a href="#">Ford</a>
	 	<a href="#">Honda</a>
	 	<a href="#">Volvo</a>
	 </div>
	</div>
	<div class="dropdown">
	 	<button class="dropbtn">Model</button>
	 	<div class="model-content">
	 	<a href="#">2021</a>
	 	<a href="#">2020</a>
	 	<a href="#">2019</a>
	 </div>
	</div> 
	<button onclick="myFunction()">Search</button>
	<!-- <div class="topnav1">
  <a class="active" href="#brand">Brand</a>
  <a href="#model">Model</a>
  <input type="text" placeholder="Search..">
</div> -->
		<h3> Find your next match! <h3>
		<button type="button">Take Questionnaire</button>
		<h2> About Us </h2>
		<p>CarMatch is a family company that loves to help people find the car of their dreams. We can help you find a car that fits you best in an easy and fast way.</p>
</main>
