
<main class="{{pageMainClass}}">
		<h1>{{title}}</h1>
		<form>
  <h5>Thank you for choosing CarMatch to help you find your next car.In order to help us we will need you to take a small Questionnaire to give us a heads up on what exactly it is your looking for. Please answer the questions below the best you can and with the answers you give us will help determine wich car best fits you. If you have any questions feel free to to contact us or visit us in person at your nearest CarMatch and we will make sure that one of our represenitives can help you.</h5>
  <br>
  <br>
  <br>
  <h4>How Many Car Seats Would I Like?</h4>
  <div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Select
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">2</a>
    <a class="dropdown-item" href="#">4</a>
    <a class="dropdown-item" href="#">6</a>
    <a class="dropdown-item" href="#">8</a>
  </div>
</div>
<br>
<br>
<h4>The Car Type That Im Looking For Is?</h4>
<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Select
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Suv</a>
    <a class="dropdown-item" href="#">Sedan</a>
    <a class="dropdown-item" href="#">Truck</a>
    <a class="dropdown-item" href="#">HatchBack</a>
    <a class="dropdown-item" href="#">Convertible</a>
    <a class="dropdown-item" href="#">CrossOver</a>
    <a class="dropdown-item" href="#">Hybrid</a>
    <a class="dropdown-item" href="#">Sport Car</a>
    <a class="dropdown-item" href="#">Pickup Truck</a>
    <a class="dropdown-item" href="#">Minivan</a>
    <a class="dropdown-item" href="#">Luxury Car</a>
    <a class="dropdown-item" href="#">Used Car</a>
  </div>
</div>
<br>
<br>
<h4>What is your Personality like?</h4>
<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Select
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Chilled</a>
    <a class="dropdown-item" href="#">Assertive</a>
    <a class="dropdown-item" href="#">Short-Tempered</a>
    <a class="dropdown-item" href="#">Compassionate</a>
    <a class="dropdown-item" href="#">Eco Friendly</a>
    <a class="dropdown-item" href="#">Family Oriented</a>
    <a class="dropdown-item" href="#">Atonomous</a>
    <a class="dropdown-item" href="#">Likes To Impress</a>
    <a class="dropdown-item" href="#">Here To Get The Job Done</a>
  </div>
</div>
<br>
<br>
<h4>What do you find yourself doing the most?</h4>
<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Select 
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Family Road Trip</a>
    <a class="dropdown-item" href="#">Outings</a>
    <a class="dropdown-item" href="#">Music Festivals</a>
    <a class="dropdown-item" href="#">Commuting To Work</a>
    <a class="dropdown-item" href="#">Date Night For Two</a>
  </div>
</div>
<br>
<br>
<h4>I Like Describing Driving As?</h4>
<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Select
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Getting From Point A to Point B</a>
    <a class="dropdown-item" href="#">Going Fast</a>
    <a class="dropdown-item" href="#">Being Safe</a>
    <a class="dropdown-item" href="#">Looking Good</a>
    <a class="dropdown-item" href="#">Being Able To Drive With Groups</a>
  </div>
</div>
<br>
<br>
<div>
  <input type="submit" name="submit">
</div>
<br>
<br>
<br>
</form>
		<p3{{msg}}</p>
</main>