body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
}

/*Header and footer*/
.bgcolor {
    background-color: #17B5F1;
}

/*rating for the header*/

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}


/*
a {
  color: #00B7FF;
}
.pgMainHome h1{
	color: #F00;
}
*/
/* For home page */

/* dropdown buttons */
body { background-image: url("stockcar (1).png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.dropbtn {
  background-color: #FC8C78;
  color: black;
  padding: 16px;
  font-size: 16px;
  font-family: arial, sans-serif;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FC8C78;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #FFFFFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #FFFFFF;}

/* about us paragraph text */
.p1 {
	text-align: center;
	font: 20px Arial

}

/* find your next match header text */
.h3 {
	text-align: center;
	font: Arial, bold;

}
/* about us header text */
.h2 {
	text-align: center;
	font: Arial, bold;

}

/* button */
.button {
	background-color: #FC8C78;
  border: none;
  color: #FC8C78;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
	background-color: #FC8C78;
	color: #000000;
	border: none;
}
.button1:hover {
	background-color: #FC8C78;
	color: #000000;
	}


/*
.col-lg {
	text-align: center;
	border: 10px solid black;

}
*/

/*For advance page */
.mt-n1 {
    padding: 1rem;

}

.pad1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/*
.pb-2 {
    padding-bottom: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;
}*/

/*card images*/
.used {
  background-image: url("http://www.clickheretesting.com/BestChevrolet/research/2021/tahoe/images/mlp-img-top.jpg");
}

.luxury {
  background-image: url("https://s1.cdn.autoevolution.com/images/news/2021-bmw-330e-plug-in-costs-3800-more-than-330i-142190-7.jpg");
}

.allTerrain {
  background-image: url("https://www.genesisofpreston.com/assets/shared/CustomHTMLFiles/Responsive/MRP/Genesis/2021/G70/images/2021-Genesis-G70-01.jpg");
}

.suv {
  background-image: url("https://www.genesisofpreston.com/assets/shared/CustomHTMLFiles/Responsive/MRP/Genesis/2021/G70/images/2021-Genesis-G70-01.jpg");
}

.hybrids {
  background-image: url("https://www.genesisofpreston.com/assets/shared/CustomHTMLFiles/Responsive/MRP/Genesis/2021/G70/images/2021-Genesis-G70-01.jpg");
}

/*card transition speed control*/
* {
  transition: 0.5s;
}
/*column controls and hover functionality */
.h-100 {
  height: 100vh !important;
}

.align-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.column {
  margin-top: 3rem;
  padding-left: 3rem;
}
.column:hover {
  padding-left: 0;
}
.column:hover .card .txt {
  margin-left: 1rem;
}
.column:hover .card .txt h1,
.column:hover .card .txt p {
  color: white;
  opacity: 1;
}
.column:hover a {
  color: white;
}
.column:hover a:after {
  width: 10%;
}

/*card & txt positioning*/
.card {
  min-height: 170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: black;
  letter-spacing: 0.05rem;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
}
.card .txt {
  margin-left: -3rem;
  z-index: 1;
}
.card .txt h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.card .txt p {
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0rem;
  margin-top: 33px;
  opacity: 0;
  color: white;
}
.card a {
  z-index: 3;
  font-size: 0.7rem;
  color: black;
  margin-left: 1rem;
  position: relative;
  bottom: -0.5rem;
  text-transform: uppercase;
}
.card a:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid white;
  transition: 0.5s;
}

/*card favicon*/
.card .ico-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card i {
  position: relative;
  right: -50%;
  top: 60%;
  font-size: 12rem;
  line-height: 0;
  opacity: 0.2;
  color: white;
  z-index: 0;
}

/*Contact Page*/

.contactUs h1{
    text-align: center;
}
.contactUs p{
    text-align: center;
}
.contactUs h2{
    text-align: center;
}
.contactUs p{
    text-align: center;
}
.contactUs h3{
    text-align: center;
}
.contactUs p{
    text-align: center;
}
.contactUs h4{
    text-align: center;
}
.contactUs p{
    text-align: center;
}

