body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
}

/*Header and footer*/
.bgcolor {
    background-color: #17B5F1;
}
.txtCenter{
    text-align: center;
}
main h1{
	font-family: sans-serif;
    font-size: 32px;
    border-bottom: 4px solid #FC8C78;
    margin: 40px 0;
    text-align: center;
}

/* Responsive*/

@media all and (min-width: 576px){
    h1{
        font-size: 48px;
    }
}

footer{
    margin-top: 70px;
}
footer p{
    font-size: 12px;
}

/*main{
    padding: 30px ;
}*/

/*rating for the header*/

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}


p{
	font-family: Arial, sans-serif;
}

/*
a {
  color: #00B7FF;
}
.pgMainHome h1{
	color: #F00;
}
*/

/* Public Buttons */
 .btnSubmit1 {
  font-size: 18px;
  padding: 10px;
  margin: 20px 0;
  color: white;
  background-color: #17B5F1;
  border: 0;
  border-radius: 8px;
  border-bottom: 3px solid #333;
}

/* For HOMEPAGE */

/* dropdown buttons */
/*body { background-image: url("stockcar (1).png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}*/
/*Carosel */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  .pad2 {
    padding-bottom: 15rem;
  }

.dropbtn {
  background-color: #FC8C78;
  color: black;
  padding: 16px;
  font-size: 16px;
  font-family: arial, sans-serif;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FC8C78;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #FFFFFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #FFFFFF;}

/* about us paragraph text */
.p1 {
	text-align: center;
	font: 20px Arial

}

/* find your next match header text */

/* about us header text */
h2, h3 {
	text-align: center;
	font-family: Arial, sans-serif;
    font-weight: 700;
}

/* button */
.button {
	background-color: #FC8C78;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: center;
}

.btn-lg {
	background-color: white;
	color: black;
}
.btn-lg:hover {
	background-color: #f2f2f2;
	color: #000000;
	}

.btn-lg:focus{
  color: black;
  background:#e6e6e6;
}
.quote {
  font-family: serif;
  font-style:italic;
  color: black;
  font-size:28px;
}


.row-quote{
  margin-top:0px;

}

.row-social{
  margin-top:50px;
  //margin-bottom: 20px;
}
	/*
	.col-lg {
		text-align: center;
		border: 10px solid black;

	}
	*/

	/*Advance Search */
	.bgcolor-fonts {

      background-color: #FC8C78;
      color: white;
      font-weight: bold;
      font-size: 20px;

	}

    .formAdvSearch{
        text-align: center;
    }
    .formAdvSearch .formWrapper {
      padding-bottom: 60px;

    }

	.pad1 {
	    padding-top: 40px;
	}

  .colortext {
    padding-top: 1rem;
    color: white;
    font-weight: bold;
    font-size: 20px;

  }

  .btn-outline{
   width: 200px;
  height: 50px;
      padding: 6px 12px;
  }

  .btnSearchSubmit {
  border-radius: 25px;
  border: 2px solid #FC8C78;
  width: 150px;
  height: 55px;
}
/*
.col-md-4 {
  flex: 0 0 15.333333%;
}*/

/*Car Results*/
.carResults figure {

}

.carResults figure img {
    width: 100%;
    height: auto;
    min-width: 160px;
}

.carResults figure figcaption{
    margin-top: 5px;

}
.carImageWrapper{
  overflow: hidden;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
}

 /*CarViewPag*/

	/*---FeaturedCars---*/
.card {
  display: inline-grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(165 162 162 , 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
  inline-size:fit-content;

}
.card-image {
  grid-area: image;
  background: url("http://www.clickheretesting.com/BestChevrolet/research/2021/tahoe/images/mlp-img-top.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: #FC8C78;
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #FC8C78;
}
.card-stats .stat {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats .value{
  font-size:22px;
  font-weight: 500;
}
.card-stats .value sup{
  font-size:12px;
}
.card-stats .type{
  font-size:11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/*card2*/
.card-image.card2 {
   background: url("http://www.clickheretesting.com/BestChevrolet/research/2021/tahoe/images/mlp-img-top.jpg");
  background-size: cover;
}
.card-text.card2 .date {
  color:  #FFAB4A;
}
.card-stats.card2 .border {
  border-left: 1px solid rgb(185, 67, 20);
  border-right: 1px solid rgb(185, 67, 20);
}
.card-stats.card2 {
  background:  #FFAB4A;
}
/*card3*/
.card-image.card3 {
   background: url("http://www.clickheretesting.com/BestChevrolet/research/2021/tahoe/images/mlp-img-top.jpg");
  background-size: cover;
}
.card-text.card3 .date {
  color:  #17B5F1;
}
.card-stats.card3 .border {
  border-left: 1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}
.card-stats.card3 {
  background: #17B5F1;
}


/*-----CarsByType----*
	/*card images*/
	.used {
	  background-image: url("http://www.clickheretesting.com/BestChevrolet/research/2021/tahoe/images/mlp-img-top.jpg");
	  min-height: 170px;
	  margin: 0;
	  padding: 1.7rem 1.2rem;
	  border: none;
	  border-radius: 0;
	  color: black;
	  letter-spacing: 0.05rem;
	  font-family: "Oswald", sans-serif;
	  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
	}

	.luxury {
	  min-height: 170px;
	  margin: 0;
	  padding: 1.7rem 1.2rem;
	  border: none;
	  border-radius: 0;
	  color: black;
	  letter-spacing: 0.05rem;
	  font-family: "Oswald", sans-serif;
	  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
	  background-image: url("https://s1.cdn.autoevolution.com/images/news/2021-bmw-330e-plug-in-costs-3800-more-than-330i-142190-7.jpg");
	}

	.allTerrain {
	  min-height: 170px;
	  margin: 0;
	  padding: 1.7rem 1.2rem;
	  border: none;
	  border-radius: 0;
	  color: black;
	  letter-spacing: 0.05rem;
	  font-family: "Oswald", sans-serif;
	  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
	  background-image: url("https://www.genesisofpreston.com/assets/shared/CustomHTMLFiles/Responsive/MRP/Genesis/2021/G70/images/2021-Genesis-G70-01.jpg");
	}

	.suv {
	 min-height: 170px;
	  margin: 0;
	  padding: 1.7rem 1.2rem;
	  border: none;
	  border-radius: 0;
	  color: black;
	  letter-spacing: 0.05rem;
	  font-family: "Oswald", sans-serif;
	  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
	  background-image: url("https://www.genesisofpreston.com/assets/shared/CustomHTMLFiles/Responsive/MRP/Genesis/2021/G70/images/2021-Genesis-G70-01.jpg");
	}

	.hybrids {
	  min-height: 170px;
	  margin: 0;
	  padding: 1.7rem 1.2rem;
	  border: none;
	  border-radius: 0;
	  color: black;
	  letter-spacing: 0.05rem;
	  font-family: "Oswald", sans-serif;
	  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
	  background-image: url("https://www.genesisofpreston.com/assets/shared/CustomHTMLFiles/Responsive/MRP/Genesis/2021/G70/images/2021-Genesis-G70-01.jpg");
	}

	/*card transition speed control*/
	/** {
	  transition: 0.5s;
	}*/
	/*column controls and hover functionality */
	.h-100 {
	  height: 100vh !important;
	}

	.align-middle {
	  position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	}

	.column {
	  margin-top: 3rem;
	  padding-left: 3rem;
	}
	.column:hover {
	  padding-left: 0;
	}
	.column:hover .Gcard .txt {
	  margin-left: 1rem;
	}
	.column:hover .Gcard .txt h1,
	.column:hover .Gcard .txt p {
	  color: black;
	  opacity: 1;
	}
	.column:hover a {
	  color: white;
	}
	.column:hover a:after {
	  width: 10%;
	}

	/*card & txt positioning*/
	.Gcard {
	  min-height: 170px;
	  margin: 0;
	  padding: 1.7rem 1.2rem;
	  border: none;
	  border-radius: 0;
	  color: black;
	  letter-spacing: 0.05rem;
	  font-family: "Oswald", sans-serif;
	  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);

	}
	.Gcard .txt {
	  margin-left: -3rem;
	  z-index: 1;
	}
	.Gcard .txt h1 {
	  font-size: 1.5rem;
	  font-weight: 300;
	  text-transform: uppercase;
	  border-bottom: none;
	}
	.Gcard .txt p {
	  font-size: 0.7rem;
	  font-family: "Open Sans", sans-serif;
	  letter-spacing: 0rem;
	  margin-top: 33px;
	  opacity: 0;
	  color: white;
	}
	.Gcard a {
	  z-index: 3;
	  font-size: 0.7rem;
	  color: black;
	  margin-left: 1rem;
	  position: relative;
	  bottom: -0.5rem;
	  text-transform: uppercase;
	}
	.Gcard a:after {
	  content: "";
	  display: inline-block;
	  height: 0.5em;
	  width: 0;
	  margin-right: -100%;
	  margin-left: 10px;
	  border-top: 1px solid white;
	  transition: 0.5s;
	}

	/*card favicon*/
	.Gcard .ico-card {
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}
	.Gcard i {
	  position: relative;
	  right: -50%;
	  top: 60%;
	  font-size: 12rem;
	  line-height: 0;
	  opacity: 0.2;
	  color: white;
	  z-index: 0;
	}

	.msg{

		font-size: x-large;
		padding: 10px;
	}
/*About page*/
.menu {
    width: 44px;
    position: relative;
    top: -10px;
    height: 3px;
}
.aboutTxt {
    text-align: center;
    color: gray;
    padding: 70px;

    border-radius: 190px;

}

.goalWrapper{
	padding: 60px;
	background-image: url("../../assets/tesla.png");
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.title {
    font-size: 22px;
    color: #2c2c2c
}

.desc {
    color: #212529;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.45em;
    width: 70%;
    margin: 0 auto
}

@media (max-width: 630px) {
    .title {
        font-size: 18px
    }
}


.abtCard{
	border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgb(220, 218, 218);
    font-family: roboto, sans-serif;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
   /* margin:30px;*/
  /*inline-size:fit-content;*/

}
/* Responsive */
@media all and (max-width: 767px){
    .pageMainAbout figure:not(:first-of-type) .abtCard{
        margin-top: 20px;
    }
}

/* ----------------------  */

.abtCard .abtInnerWrapper{
}
/*.Abtcard {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px
}*/
.cardImgContainer{
	padding-top: 20px;
    text-align: center;
}

.goal{
	border-bottom: none;
	background-image: url("../../assets/tesla.png");
}

/*.abtContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
}*/
.meetTheTeam{
	padding: 30px;
	font-style: oblique;
}
.infoTxt{
	padding: 40px;

	font-size: x-large;
}
.abtTxt{
	text-align: center;
	font-size: x-large;
	font-weight: bolder;
	padding: 30px;

}
.TheCompany{
	border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}



.card_img {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
    position: relative;
    transition: transform .4s;
    /*margin-left:150px;*/
    background-color: #FFAB4A;
    /*align-self: center;*/
}

#userIcon{
	color: aliceblue;
}
.fas,
.fab {
    display: inline-block;
    position: absolute;
    color: #63b563;
    transform: translate(-52%, 75%);
    font-size: 40px
}

.card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #17B5F1;
    transition: color .2s;
    border-bottom: inset;
    font-family: sans-serif;
    padding: 20px;
}

.Abtcard:hover .card_title {
    color: #4bd482
}

.Abtcard:hover .card_img {
    transform: translate(0px, -10px)
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #0099cc;
}


.card_body {
    color: #8c9490;
    font-size: 16px;
    padding: 0 5px;
    line-height: 1.5;
    word-spacing: 4px
}

	/*Contact Page*/

/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/

/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}*/

.wrapper{
 /*position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%,-50%);*/
  /*max-width: 350px;*/
  width: 100%;
  background: #17B5F1;
  padding: 50px;
  border-radius: 5px;
  /*box-shadow: 4px 4px 2px rgba(254,236,164,1);*/
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
}


.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #FFFFFF;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #E0E0E0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}
.formContact{
  text-align: center;
}
/*
.contactSubmit{
  padding: 4px 8px;
  text-align: center;
}
.contactSubmit input{
  font-size: 20px;
  font-weight: bold;
  background-color: #FC8C78;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  margin: auto;*/

.contactUs{
text-align: center;
padding-top: 10px;
}
.btnClass{
    font-size: 24px;
    background: #FC8C78;
}
.error_message{
  margin-bottom: 20px;
  background: #FE8B8E;
  padding: 0;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
.wrapper h3{

}
.wrapper h4{
  text-align: center;
}

.figWrapper{/*
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;*/
    font-size: 18px;
}
.figWrapper figure{

  text-align: center;

}
.figWrapper figure figcaption{
    margin-bottom: 10px;
}

/*Responsive*/
@media all and (min-width: 420px) and (max-width: 767px) {
    .contactUs article{
        /*padding-left: 15%;*/
    }

}
@media all and (min-width: 768px) {
    .figWrapper{
        ;
        padding-top: 50px;
        text-align: center;
        /*padding-top: 50px;
        text-align: right;*/
    }
    .figWrapper figure{
        margin: 0 auto;
        font-size: 18px;
        text-align: center;

        max-width: 365px;

    }
    .figWrapper figure figcaption{
        margin-bottom: 15px;
    }
}
.icons{
	color: white;
	font-size: xx-large;
}

.contactCard{
	background-image: url("../../assets/gmc.png");
	background-repeat: no-repeat;
	  background-color: #33b5e5;
	 background-blend-mode: soft-light;
	  color: #ffffff;
	  text-align: center;
	  font-size: 14px;
	  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.contactCard .figWrapper figure{
    max-width: initial;
    text-align: left;
    margin-top: 40px;
}


/*Responsive*/
@media all and (min-width: 576px){
    .contactCard .figWrapper figure{
        padding: 0 20px;
        margin-top: 0;
    }
}

/*----------*/

.caption{
    font-size: 24px;
/*	font-variant-caps: all-small-caps;
	font-size: xxx-large;*/
    font-weight: 500;
}
.caption i{
    margin-right: 5px;
}
/*.col-auto{
	padding: 40px;
}*/
/*Questionnaire*/


/*.questionnaire h1{
  padding-bottom: 50px;
}*/
/*.questionnaire h2 {
    text-align: center;
    padding: 20px 0;
}*/
.questionnaire h3 {
  margin: 5px 0;
  text-align: right;
}


.questionnaire p{
  text-align: center;
  padding-top: 10px;
}

/*.questionnaire {
  width: 600px;
  margin: 0 auto;
  background: #F6EBE6;
  padding: 10px 15px;
  border-radius: 10px;
}*/
.questionnaire input {
  margin: 5px 10px;
}
.questionnaire button {
  font-size: 18px;
  padding: 10px;
  margin: 20px 0;
  color: white;
  border: 0;
  border-radius: 8px;
  border-bottom: 3px solid #333;
}
.questionnaire .btnSubmit {
  background: #17B5F1;
}
.questionnaire .btnReset {
  background: #FC8C78
}
.questionnaire .answer {
  border: 1px dashed #CCC;
  background: #EEE;
  padding: 10px;
  text-align: center;
}
.resultText{
  text-align: center;
  font-weight: bold;
  position: relative;
  margin: auto;
  width: 600px;
  padding-bottom: 40px;
}
.personalityText{
    text-align: center;
    font-weight: bold;
    padding: 40px;
    position: relative;
    width: 1000px;
    margin: auto;

}
.carInfoWrapper{
    text-align: center;
    font-weight: bold;
    position: relative;
    margin: 0;
    width: 600px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33B5E5;
    color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.quizWrapper{
    max-width: initial;
}
.quiz{
    background-image: url("../../assets/horizon.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

/*Responsive design controls*/
  /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {


    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	.abtContainer{
    		display: flex;
    		flex-direction: column;
    	}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
/*Responsive*/
	@media all and (min-width: 420px) and (max-width: 767px) {
    .contactUs article{
        /*padding-left: 15%;*/
    }

}
	@media all and (min-width: 768px) {
    .figWrapper{
        ;
        padding-top: 50px;
        text-align: center;
        /*padding-top: 50px;
        text-align: right;*/
    }
}
	@media (max-width: 494px) {
    .row {
        flex-direction: column
    }
}
	@media (max-width: 630px) {
    .title {
        font-size: 18px
    }
}

	/* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }